
.flex{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}
.categories{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    margin-bottom: 10%;
    margin-left: 5%;
  box-shadow: 5px 3px  rgba(76, 81, 82, 0.52); ;

background-color:#6e7a7a;
height: 200px;
width: 20%;
position: relative;
font-size: 30px;
text-align: center;
    font-weight:bold;
    transition: all 2s;
    &:hover{
     background-color: cadetblue;
    }
    &:hover .catégoryImg{
       transform: translate(-50%);

    }
    
    .catégoryImg{
     transition: all 3s;
       width: 50%;
       position: absolute;
     bottom: 80%;
     left: 50%;
      
    }

}
.container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  justify-content: center;
  align-items: center;
 
 }


