<<<<<<< HEAD
@import "./components/Navbar/styles/SearchBar.scss";
@import "./Pages/Hero/Hero.scss";
@import "./components/Footer/Footer.scss";
@import "components/Navbar/styles/Navbar.scss";

.App-logo {
  height: 5vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: rgb(235, 229, 229);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-size: calc(10px + 2vmin);
}







=======
@import "components/Navbar/styles/Navbar.scss";

>>>>>>> 565c358de7bcade55cf19e99dbe39a1ac32601e5
body {
  background-image: url(https://source.unsplash.com/random/1920x1080?restaurant);
  background-position: center;
  background-repeat: repeat;
  background-size: cover;
  backdrop-filter: blur(8px);
}
