@import "components/Navbar/styles/Navbar.scss";

body {
  background-image: url(https://source.unsplash.com/random/1920x1080?restaurant);
  background-position: center;
  background-repeat: repeat;
  background-size: cover;
  backdrop-filter: blur(8px);
}
